
#myNavBar > li:last-child {
  float:right;
}

ul {
  list-style-type: none;
}

#list-post {
  margin: auto;
}

.comment {
  margin: auto;
}

.searchBtn{
  height: 32px;
  padding-top: 3.5px;
  text-align: center;
  margin-top: 7px;
}

.homeAndPostList{
  margin-left: 1%;
}

.myContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchTextGroup {
  margin: 9px 5px;
}

.newPostBtn {
  height: 50px;
  width: 150px;
  text-align: center;
  padding-top: 13px;
  float: right;
}

.blogHomeTitle {
  text-align: center;
}

.noPosts {
  font-size: 20px;
  font-weight: bold;
}

.loginOrOutBtn {  
  float: right;
  margin-top: 6px;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.seperatorHr {
  color: dimgrey;
  border: solid 2px dimgrey;
  height: 5px;
}

body {
    padding-bottom: 100px;
}
