body {
  background-color: #E9E9E9;
}

ul {
  list-style-type: none;
}

.commentBox {
  padding-bottom: 20px;
}

.blogHomeTitle {
  font-family: Courier New;
  font-size: 50px;
  margin-top: 20px;
  margin-left: 50px;
}

.commentAndCancelBtns {
    margin: 0px 0px 0px 965px;
}

.blogTitle {
  font-size: 24px

}

#commentCreate {
  width: 66em;
  height: 10em;
}

.myNavBarHeader {
  margin: 0px 0px 3px 0px;
  padding: 13px;
}

.titleAndNewPostBtn {
  margin-top: 20px;
}

.newPostLocation {
  margin-top: 15px;
  padding-bottom: 20px;
}

.showBody {
  font-size: 16px;
  line-height: 1.5em;
}

#list-post {
  background-color: white;
}

fieldset {
  background-color: white;
  padding: 50px 50px 50px 50px;

}

.blogPostShow {
  background-color: white;
  margin-top: 20px;

}

#list-post {
  margin: auto;
}

.comment {
  margin: auto;
}

.searchBtn{
  height: 32px;
  padding-top: 3.5px;
  text-align: center;
  margin-top: 7px;
}

.homeAndPostList{
  margin-left: 1%;
}

.myContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchTextGroup {
  margin: 9px 5px;
}

.newPostBtn {
  height: 50px;
  width: 150px;
  text-align: center;
  padding-top: 8px;
  font-size: 20px;
}

.noPosts {
  font-size: 20px;
  font-weight: bold;
}

.loginOrOutBtn {
  float: right;
  margin-top: 6px;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.seperatorHr {
  color: dimgrey;
  border: solid 2px dimgrey;
  height: 5px;
}

body {
    padding-bottom: 100px;
}
