
#myNavBar > li:last-child {
  float:right;
}

ul {
  list-style-type: none;
}

#list-post {

  margin: auto;
}

.comment {
  margin: auto;

}

.loginBtn {
  color: black;
}

.seperatorHr {
  color: dimgrey;
  border: solid 2px dimgrey;
  height: 5px;
}

body {
    padding-bottom: 100px;
}
